<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
   <title>Sunil Kumar | Fullstack dev,Android dev &amp; Machine learning engineer
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Matt Farley">
    <meta name="author" content="Sunil Kumar">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Fullstack dev,Android dev &amp; Machine learning engineer">
    <meta property="og:description" content="Fullstack dev,Android dev &amp; Machine learning engineer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
      {{{body}}}
  </body>
</html>