<section id="nav-section">
  <nav id="navbar" class="bd-navbar navbar is-spaced is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
        <img class="brand" height="128" width="128"src="images/logo.png" alt="Logo">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbar-menu-desktop" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item bd-navbar-item-about-me " href="#intro-section">
          About Me
          </a>
          <a class="navbar-item bd-navbar-item-about-me" href="#work-exp">
          Experience
          </a>
          <a class="navbar-item bd-navbar-item-about-me" href="#skills">
          Skills
          </a>
          <a class="navbar-item bd-navbar-item-about-me" href="#projects">
          Portfolio
          </a>
          <a class="navbar-item bd-navbar-item-about-me" href="#contactme">
          Contact Me
          </a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-info" href="#">
              <span class="icon">
              <i class="fas fa-download"></i>
              </span>
              <span>Download Resume</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
</section>
<section id="about-me" class="hero is-white has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Designer, Engineer &amp; Learner</h1>
          <h2 class="subtitle is-size-4-desktop">I design and code beautifully simple things, and I love what I do.</h2>
          <div class="is-flex is-horizontal-center" >
            <img class="avatar avatar-195" src="images/sunilkumar.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container"><img class="is-bottom" src="images/hero.svg"></div>
  </div>
</section>
<section id="intro-section"class="section intro-section is-medium is-primary has-text-centered is-long">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1 class="title intro-text is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Sunil. Nice to meet you.</h1>
        <h2 class="subtitle intro-text is-size-5-desktop">My Portfolio is a representation of all that I've learned and accomplished as science and engineering student. I am CSE Graduate of 2020 batch from lovely professional university with major in <strong style="color:whitesmoke;"><em>Mobile App development.</em></strong>I am also very skilled in other domains like <strong style="color: whitesmoke;"><em>databases, networking, frontend, backend</em></strong> last but not least <strong style="color: whitesmoke;">Machine learning</em></strong> checkout skills and projects to know more.</h2>
        <h2 class="subtitle intro-text is-size-5-desktop">My personal philosophy when it comes to education and learning is closely related to several scientific cognitive theories of motivation. One can learn only enough in classroom to say "Hello world" 😂 jokes apart but one must give their full effort and time by themselves to reach the next level which leads them to success.</h2>
        <h2 class="subtitle intro-text is-size-5-desktop">I love designing mobile and web apps powered by machine learning algorithms and looking for more opportunites to work on same as freelance or intern.</h2>
      </div>
      <div class="column info-box is-one-third-desktop is-full-mobile">
        <div class="box box-shadow-lift">
          <h1 class="title is-5"> Personal Information</h1>
          <hr>
          <table class="table">
            <tbody>
              <tr>
                <th>FULL NAME</th>
                <td>Sunil Kumar</td>
              </tr>
              <tr>
                <th>D.O.B</th>
                <td>22nd Nov-1997</td>
              </tr>
              <tr>
                <th>ADDRESS</th>
                <td>Hisar, Haryana, India</td>
              </tr>
              <tr>
                <th>EMAIL</th>
                <td><span class=" has-text-link has-text-weight-normal has-text-size-small-mobile">sunilcodechef@gmail.com</span></td>
              </tr>
              <tr>
                <th>PHONE</th>
                <td>+91-8116227044</td>
              </tr>
              <tr>
                <th>FREELANCE</th>
                <td>Available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work-exp" class="section has-text-centered is-small">
  <div class="columns is-centered ">
    <div class="column is-three-fifths">
      <p class="title is-2">Work <span class="underline-green">Experience</span></p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column margin-center">
        <div class="columns is-vcentered is-spaced">
          <div class="column is-2 is-spaced has-text-centered is-hidden-touch is-vcentered">
            <figure class=" image is-64x64">
              <img src="/images/Juspay.png">
            </figure>
          </div>
          <div class="column">
            <p class="title is-3">Juspay Technologies Pvt Ltd</p>
            <p class="subtitle is-4 has-text-grey">
              Developed a Haskell based <strong>Data Analytics Software</strong> for customer insight.
              With better performance than previous python based software used.
              Final product <span class="underline-green">2x times</span> faster and <span class="underline-green">4x times</span> memory efficient.
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box box-shadow-lift">
          <img src="images/dataAnalysis.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="skills-title" class=" section has-text-centered is-medium">
  <div class="container">
    <div class="column">
      <h3 id="skills"class="title is-2 has-text-centered">"Arsenal of skills"</h3>
      <p class="subtitle is-4 has-text-centered">Some things I like to brag about </p>
    </div>
    <br>
    <div  class="columns is-centered">
      <div class="column is-4">
        <div class="box box-shadow-lift box-flying">
          <div class="card-content ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/android.svg">
              </figure>
            </div>
            <h1 class="title is-size-4 is-spaced">Android</h1>
            <hr>
            <p>Mobile applications are just like best friends they keep you updated about everything.</p>
            <br>
            <div class="tags is-medium is-centered">
              <span class="tag is-success"> Java </span>
              <span class="tag is-success"> Kotlin </span>
              <span class="tag is-success"> Flutter </span>
              <span class="tag is-success"> Dart </span>
              <span class="tag is-success"> Android Jetpack </span>
              <span class="tag is-success"> XML </span>
              <span class="tag is-success"> Android Studio </span>
              <span class="tag is-success"> JUnit Testing </span>
              <span class="tag is-success"> Espresso Testing </span>
              <span class="tag is-success"> Networking </span>
              <span class="tag is-success"> Dagger-2 </span>
              <span class="tag is-success"> Firebase </span>
              <span class="tag is-success"> Security </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box box-shadow-lift box-flying">
          <div class="card-content ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/frontend.svg">
              </figure>
            </div>
            <h1 class="title is-size-4 is-spaced">Fullstack Developer</h1>
            <hr>
            <p>Want to start a business without purchasing the land or shop?  The solution is Web apps.</p>
            <br>
            <div class="tags is-medium is-centered">
              <span class="tag is-success"> Javascript </span>
              <span class="tag is-success"> HTML </span>
              <span class="tag is-success"> CSS </span>
              <span class="tag is-success"> Bootstrap </span>
              <span class="tag is-success"> Bulma </span>
              <span class="tag is-success"> Semantic UI </span>
              <span class="tag is-success"> React </span>
              <span class="tag is-success"> NodeJs </span>
              <span class="tag is-success"> ExpressJs </span>
              <span class="tag is-success"> Rest APIs </span>
              <span class="tag is-success"> Flask </span>
              <span class="tag is-success"> Django </span>
              <span class="tag is-success"> HTTPS </span>
              <span class="tag is-success"> Ruby on Rails </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box box-shadow-lift box-flying">
          <div class="card-content ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/machine.svg">
              </figure>
            </div>
            <h1 class="title is-size-4 is-spaced">Machine Learning</h1>
            <hr>
            <p>In todays world smartness is everything make your apps smart with Machine learning.</p>
            <br>
            <div class="tags is-medium is-centered">
              <span class="tag is-success"> Web Scrapping </span>
              <span class="tag is-success"> Python </span>
              <span class="tag is-success"> Pandas </span>
              <span class="tag is-success"> Numpy </span>
              <span class="tag is-success"> Scipy </span>
              <span class="tag is-success"> Matplotlib </span>
              <span class="tag is-success"> Seaborn </span>
              <span class="tag is-success"> NLP </span>
              <span class="tag is-success"> Data Importing and cleaning </span>
              <span class="tag is-success"> Data Visualization </span>
              <span class="tag is-success"> Data Manipulation </span>
              <span class="tag is-success"> Machine learning </span>
              <span class="tag is-success"> PyTorch </span>
              <span class="tag is-success"> Tensorflow </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="projects-title" class="section intro-section is-medium is-primary has-text-centered is-long-ish">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths ">
        <h1 id="projects" class="title is-spaced intro-text is-size-3-desktop is-size-4-mobile"><em><\My Projects></em></h1>
        <h2 style="font-weight:700;font-family:cursive"class="subtitle intro-text text-centered is-size-4-desktop">"Real Life. Real Knowledge. Real Projects"</h2>
        <h2 class="subtitle intro-text text-centered is-size-5-desktop">Some of my favourite project works are listed below. Please feel free to lookup the source code on my <strong><a href="https://github.com/sunil-kumarr?tab=repositories" target="_blank" style="color: yellow; font-family:monospace;font-weight:800">github profile <i class="fab fa-github" aria-hidden="true"></i></a></strong> and to see more exciting projects.🤩</h2>
      </div>
    </div>
  </div>
</section>
<section class="section projects has-text-centered">
  <div class="container is-narrow">
    <div class="startup-grid">
      <div class="columns is-multiline level">
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box zoom">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/bookmark.png">
              </figure>
            </div>
            <p>Pocketmark is url bookmarking website which can also be used as URL shorterner.It uses machine learning  to suggest best short urls for long urls.</p>
            <a class="link has-text-black button" style="border: none; padding: 0; height: 27px;" disabled="">
              <span class="icon">
                <svg class="svg-inline--fa fa-tools fa-w-16" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="tools" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M502.6 389.5L378.2 265c-15.6-15.6-36.1-23.4-56.6-23.4-15.4 0-30.8 4.4-44.1 13.3L192 169.4V96L64 0 0 64l96 128h73.4l85.5 85.5c-20.6 31.1-17.2 73.3 10.2 100.7l124.5 124.5c6.2 6.2 14.4 9.4 22.6 9.4 8.2 0 16.4-3.1 22.6-9.4l67.9-67.9c12.4-12.6 12.4-32.8-.1-45.3zM160 158.1v1.9h-48L42.3 67 67 42.3l93 69.7v46.1zM412.1 480L287.7 355.5c-9.1-9.1-14.1-21.1-14.1-33.9 0-12.8 5-24.9 14.1-33.9 9.1-9.1 21.1-14.1 33.9-14.1 12.8 0 24.9 5 33.9 14.1L480 412.1 412.1 480zM64 432c0 8.8 7.2 16 16 16s16-7.2 16-16-7.2-16-16-16-16 7.2-16 16zM276.8 66.9C299.5 44.2 329.4 32 360.6 32c6.9 0 13.8.6 20.7 1.8L312 103.2l13.8 83 83.1 13.8 69.3-69.3c6.7 38.2-5.3 76.8-33.1 104.5-8.9 8.9-19.1 16-30 21.5l23.6 23.6c10.4-6.2 20.2-13.6 29-22.5 37.8-37.8 52.7-91.4 39.7-143.3-2.3-9.5-9.7-17-19.1-19.6-9.5-2.6-19.7 0-26.7 7l-63.9 63.9-44.2-7.4-7.4-44.2L410 50.3c6.9-6.9 9.6-17.1 7-26.5-2.6-9.5-10.2-16.8-19.7-19.2C345.6-8.3 292 6.5 254.1 44.3c-12.9 12.9-22.9 27.9-30.1 44v67.8l22.1 22.1c-9.6-40.4 1.6-82.2 30.7-111.3zM107 467.1c-16.6 16.6-45.6 16.6-62.2 0-17.1-17.1-17.1-45.1 0-62.2l146.1-146.1-22.6-22.6L22.2 382.3c-29.6 29.6-29.6 77.8 0 107.5C36.5 504.1 55.6 512 75.9 512c20.3 0 39.4-7.9 53.7-22.3L231.4 388c-6.7-9.2-11.8-19.3-15.5-29.8L107 467.1z"></path>
                </svg>
              </span>
              <span>In development</span>
            </a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box zoom">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/songs.png">
              </figure>
            </div>
            <p>Sangum is a song hosting website which uses different API client to fetch different songs and is powered by a powerful recommendation system to suggest best songs.</p>
            <a class="link has-text-black button" style="border: none; padding: 0; height: 27px;" disabled="">
              <span class="icon">
                <svg class="svg-inline--fa fa-tools fa-w-16" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="tools" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M502.6 389.5L378.2 265c-15.6-15.6-36.1-23.4-56.6-23.4-15.4 0-30.8 4.4-44.1 13.3L192 169.4V96L64 0 0 64l96 128h73.4l85.5 85.5c-20.6 31.1-17.2 73.3 10.2 100.7l124.5 124.5c6.2 6.2 14.4 9.4 22.6 9.4 8.2 0 16.4-3.1 22.6-9.4l67.9-67.9c12.4-12.6 12.4-32.8-.1-45.3zM160 158.1v1.9h-48L42.3 67 67 42.3l93 69.7v46.1zM412.1 480L287.7 355.5c-9.1-9.1-14.1-21.1-14.1-33.9 0-12.8 5-24.9 14.1-33.9 9.1-9.1 21.1-14.1 33.9-14.1 12.8 0 24.9 5 33.9 14.1L480 412.1 412.1 480zM64 432c0 8.8 7.2 16 16 16s16-7.2 16-16-7.2-16-16-16-16 7.2-16 16zM276.8 66.9C299.5 44.2 329.4 32 360.6 32c6.9 0 13.8.6 20.7 1.8L312 103.2l13.8 83 83.1 13.8 69.3-69.3c6.7 38.2-5.3 76.8-33.1 104.5-8.9 8.9-19.1 16-30 21.5l23.6 23.6c10.4-6.2 20.2-13.6 29-22.5 37.8-37.8 52.7-91.4 39.7-143.3-2.3-9.5-9.7-17-19.1-19.6-9.5-2.6-19.7 0-26.7 7l-63.9 63.9-44.2-7.4-7.4-44.2L410 50.3c6.9-6.9 9.6-17.1 7-26.5-2.6-9.5-10.2-16.8-19.7-19.2C345.6-8.3 292 6.5 254.1 44.3c-12.9 12.9-22.9 27.9-30.1 44v67.8l22.1 22.1c-9.6-40.4 1.6-82.2 30.7-111.3zM107 467.1c-16.6 16.6-45.6 16.6-62.2 0-17.1-17.1-17.1-45.1 0-62.2l146.1-146.1-22.6-22.6L22.2 382.3c-29.6 29.6-29.6 77.8 0 107.5C36.5 504.1 55.6 512 75.9 512c20.3 0 39.4-7.9 53.7-22.3L231.4 388c-6.7-9.2-11.8-19.3-15.5-29.8L107 467.1z"></path>
                </svg>
              </span>
              <span>In development</span>
            </a>
          </div>
        </div>
         <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box zoom">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/moviebox.png">
              </figure>
            </div>
            <p>MovieBox is trackt client which helps you keep track of your entertainment history and habits.It uses a movie recommendation system to suggest movie labels as user taste.</p>
            <a class="link has-text-black button" style="border: none; padding: 0; height: 27px;" disabled="">
              <span class="icon">
                <svg class="svg-inline--fa fa-tools fa-w-16" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="tools" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M502.6 389.5L378.2 265c-15.6-15.6-36.1-23.4-56.6-23.4-15.4 0-30.8 4.4-44.1 13.3L192 169.4V96L64 0 0 64l96 128h73.4l85.5 85.5c-20.6 31.1-17.2 73.3 10.2 100.7l124.5 124.5c6.2 6.2 14.4 9.4 22.6 9.4 8.2 0 16.4-3.1 22.6-9.4l67.9-67.9c12.4-12.6 12.4-32.8-.1-45.3zM160 158.1v1.9h-48L42.3 67 67 42.3l93 69.7v46.1zM412.1 480L287.7 355.5c-9.1-9.1-14.1-21.1-14.1-33.9 0-12.8 5-24.9 14.1-33.9 9.1-9.1 21.1-14.1 33.9-14.1 12.8 0 24.9 5 33.9 14.1L480 412.1 412.1 480zM64 432c0 8.8 7.2 16 16 16s16-7.2 16-16-7.2-16-16-16-16 7.2-16 16zM276.8 66.9C299.5 44.2 329.4 32 360.6 32c6.9 0 13.8.6 20.7 1.8L312 103.2l13.8 83 83.1 13.8 69.3-69.3c6.7 38.2-5.3 76.8-33.1 104.5-8.9 8.9-19.1 16-30 21.5l23.6 23.6c10.4-6.2 20.2-13.6 29-22.5 37.8-37.8 52.7-91.4 39.7-143.3-2.3-9.5-9.7-17-19.1-19.6-9.5-2.6-19.7 0-26.7 7l-63.9 63.9-44.2-7.4-7.4-44.2L410 50.3c6.9-6.9 9.6-17.1 7-26.5-2.6-9.5-10.2-16.8-19.7-19.2C345.6-8.3 292 6.5 254.1 44.3c-12.9 12.9-22.9 27.9-30.1 44v67.8l22.1 22.1c-9.6-40.4 1.6-82.2 30.7-111.3zM107 467.1c-16.6 16.6-45.6 16.6-62.2 0-17.1-17.1-17.1-45.1 0-62.2l146.1-146.1-22.6-22.6L22.2 382.3c-29.6 29.6-29.6 77.8 0 107.5C36.5 504.1 55.6 512 75.9 512c20.3 0 39.4-7.9 53.7-22.3L231.4 388c-6.7-9.2-11.8-19.3-15.5-29.8L107 467.1z"></path>
                </svg>
                <!-- <i class="fal fa-tools"></i> -->
              </span>
              <span>In development</span>
            </a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box zoom ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/firefoody.png">
              </figure>
            </div>
            <p>FireFoody is a SUBSCRIPTION based Food delivery app.Using Firefoody users can take a subscription that they like and we will deliver the food on correct time to their working place or doorstep at breakfast,lunch and dinner time.</p>
            <br><a href="https://github.com/sunil-kumarr/FireFoody" target="_blank"><button class="button is-small is-light"><span>View Project</span><span class="icon is-small"><i class="fas fa-arrow-circle-right"></i></span></button></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box zoom">
           <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/notekeeper.png">
              </figure>
            </div>
            <p>NoteKeeper is platform for all university and college students to share notes or study material, ask doubts with other students or faculties across the world, sell or buy books or other old materials from each other, finding lost and found items lastly but not least take exam or small quiz to prepare for placements created by faculties registered on platform.</p>
           <br><a href="https://github.com/sunil-kumarr/NoteKeeper" target="_blank"><button class="button is-small is-light"><span>View Project</span><span class="icon is-small"><i class="fas fa-arrow-circle-right"></i></span></button></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box zoom">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/parivartan.png">
              </figure>
            </div>
            <p>Parivartan is Complaint Management system which only allows authenticated users to log complaint for different problems related to government services or others.It also have Geolocation feature to get user current location while filling complaint and Customer CHAT support system.</p>
            <br><a href="https://github.com/sunil-kumarr/Parivartan-Change-Our-Country" target="_blank"><button class="button is-small is-light"><span>View Project</span><span class="icon is-small"><i class="fas fa-arrow-circle-right"></i></span></button></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contactme" class="section partner-call is-primary has-text-centered">
  <div class="container is-narrow">
    <div class="box partner-box">
      <div class="columns level">
        <div class="column level-item">
          <h1 class="title has-text-white">Start a project</h1>
        </div>
        <div class="column level-item">
          <p>Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
        </div>
        <div class="column level-item"><a class="button is-primary is-outlined is-rounded is-medium" href="/project-planner">Let's do this</a></div>
      </div>
    </div>
  </div>
</section>
<footer class="section intro-section is-primary is-medium has-text-centered">
  <div class="container is-narrow is-centered ">
    <div class="columns">
      <div class="column">
        <div><br><br></div>
        <div class="buttons is-centered">
          <a href="https://www.facebook.com/profile.php?id=100027940486722&ref=bookmarks" target="_blank" class="button is-white is-outlined is-rounded">
          <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/kumar-sunil/" target="_blank" class="button is-white is-outlined is-rounded">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/sunil-kumarr/" target="_blank" class="button is-white is-outlined is-rounded">
          <i class="fab fa-github" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/__sunilkumar__/" target="_blank" class="button is-white is-outlined is-rounded">
          <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/__sunilkumar__.py/" target="_blank" class="button is-white is-outlined is-rounded">
          <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
        <div class="copyright intro-text">Made with <img class="zoom" src="https://image.flaticon.com/icons/svg/1216/1216649.svg" height="25" width="25"> in India by Sunil Kumar.
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="side-crawler-class">
  <div class="container side-crawler-container is-hidden-mobile">
    <div class="columns is-centered">
      <div class="column is-4 is-spaced ">
        <div class="box side-crawler ">
          <div class="is-horizontal-center">
            <a class="image is-48x48" href="#about-me">
            <img class="avatar zoom special-button" src="/images/sunilkumar.png" data-tooltip="sunil kumar">
            </a>
          </div>
          <a href="#intro-section">
          <button  class="button is-outlined is-danger side-button" data-tooltip="Introduction">
          <span class="icon is-small">
          <i class="far fa-address-card"></i>
          </span>
          </button>
          </a>
          <a href="#work-exp"><button class="button is-outlined is-danger side-button" data-tooltip="Work experience">
          <span class="icon is-small">
          <i class="fas fa-briefcase"></i>
          </span>
          </button></a>
          <a href="#skills">
          <button class="button is-danger is-outlined side-button" data-tooltip="My Skills">
          <span class="icon is-small">
          <i class="fas fa-tasks"></i>
          </span>
          </button>
          </a>
          <a href="#projects">
          <button class="button is-danger is-outlined side-button" data-tooltip="My Projects">
          <span class="icon is-small">
          <i class="fas fa-laptop-code"></i>
          </span>
          </button>
          </a>
          <a href="#contactme">
          <button class="button is-danger is-outlined side-button" data-tooltip="Contact Me">
          <span class="icon is-small">
          <i class="far fa-paper-plane"></i>
          </span>
          </button>
          </a>
          <a href="#nav-section">
          <button class="button is-primary is-outlined side-button" data-tooltip="Goto Top">
          <span class="icon is-small">
          <i class="fas fa-arrow-circle-up"></i>
          </span>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container bottom-crawler-container is-hidden-mobile">
    <div class="columns is-centered">
      <div class="column">
        <div class="box bottom-crawler zoom ">
          <a href="#">
          <button onclick="isInView" class="button side-button is-outlined is-link side-button" data-tooltip="Download Resume">
          <span class="icon is-small">
          <i class="fas fa-download"></i>
          </span>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // The view visiblility checker
  const isViewInViewport = el => {
  	const scroll = window.scrollY || window.pageYOffset
  	const boundsTop = el.getBoundingClientRect().top + scroll
  
  	const viewport = {
  		top: scroll,
  		bottom: scroll + window.innerHeight,
  	}
  
      const bounds = {
  		top: boundsTop,
  		bottom: boundsTop + el.clientHeight,
  	}
  
  	return ( bounds.bottom >= viewport.top && bounds.bottom <= viewport.bottom ) 
  		|| ( bounds.top <= viewport.bottom && bounds.top >= viewport.top );
  }
  
  
  // Usage.
  document.addEventListener( 'DOMContentLoaded', () => {
  	const tester = document.querySelector( '#nav-section' )
  	const answer = document.querySelector( '.side-crawler-class' )
  	
  	const handler = () => raf( () => {
  		answer.style.display = ( isViewInViewport( tester ) ? 'none' : 'block' )
  	} )
  	
  	handler()
  	window.addEventListener( 'scroll', handler )
  } )
  
  // requestAnimationFrame
  const raf = 
      window.requestAnimationFrame ||
      window.webkitRequestAnimationFrame ||
      window.mozRequestAnimationFrame ||
      function( callback ) {
          window.setTimeout( callback, 1000 / 60 )
      }
</script>