<section>
  <nav id="navbar" class="bd-navbar navbar is-spaced is-transparent">
    <div class="container">
      <div class="navbar-brand">
            <a class="navbar-item" href="#">
                     <img class="brand" height="128" width="128"src="images/logo.png" alt="Logo">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
      </div>
      <div id="navbar-menu-desktop" class="navbar-menu">
        <div class="navbar-start">
                <a class="navbar-item bd-navbar-item-about-me " href="#">
                About Me
                </a>
                <a class="navbar-item bd-navbar-item-about-me" href="#">
                Experience
                </a>
                <a class="navbar-item bd-navbar-item-about-me" href="#">
                Education
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" "href="#">
                        Portfolio
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" "href="#">
                          FrontEnd
                        </a>
                        <a class="navbar-item" href="#">
                          BackEnd
                        </a>
                        <a class="navbar-item" href="#">
                          Android
                        </a>
                        <a class="navbar-item" href="#">
                          Designs
                        </a>
                        <a class="navbar-item" href="#">
                          Machine learning
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="#">
                          Certificates
                        </a>
                    </div>
                </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-info" href="#">
                 <span class="icon">
                   <i class="fas fa-download"></i>
                 </span>
                 <span>Download Resume</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="hero is-white has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Designer, Engineer &amp; Learner</h1>
              <h2 class="subtitle is-size-4-desktop">I design and code beautifully simple things, and I love what I do.</h2>
              <div class="is-flex is-horizontal-center" >
                  <img class="avatar avatar-195" src="images/sunilkumar.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container"><img class="is-bottom" src="images/hero.svg"></div>
      </div>
</section>

<section class="section intro-section is-medium is-primary has-text-centered is-long">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <h1 class="title intro-text is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Sunil. Nice to meet you.</h1>
            <h2 class="subtitle intro-text is-size-5-desktop">Since beginning my journey as a freelance designer nearly 8 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</h2>
          </div>
          <div class="column info-box is-one-third-desktop is-full-mobile">
            <div class="box box-shadow-lift">
              <h1 class="title is-5"> Personal Information</h1>
              <hr>
                <table class="table">
                 <tbody>
                   <tr>
                     <th>FULL NAME</th><td>Sunil Kumar</td>
                   </tr>
                   <tr>
                     <th>D.O.B</th><td>22nd Nov-1997</td>
                   </tr>
                   <tr>
                     <th>ADDRESS</th><td>Hisar, Haryana, India</td>
                   </tr>
                   <tr>
                     <th>EMAIL</th><td><span class=" has-text-link has-text-weight-normal has-text-size-small-mobile">sunilcodechef@gmail.com</span></td>
                   </tr>
                   <tr>
                     <th>PHONE</th><td>+91-8116227044</td>
                   </tr>
                   <tr>
                     <th>FREELANCE</th><td>Available</td>
                   </tr>
                 </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="section has-text-centered is-small">
  <div class="columns is-centered ">
    <div class="column is-three-fifths">
      <p class="title is-2">Work <span class="underline-green">Experience</span></p>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
  <div class="columns is-vcentered">
    <div class="column margin-center">
      <div class="columns is-vcentered is-spaced">
        <div class="column is-2 is-spaced has-text-centered is-hidden-touch is-vcentered">
          <figure class=" image is-64x64">
              <img src="/images/Juspay.png">
          </figure>
        </div>
        <div class="column">
          <p class="title is-3">Juspay Technologies Pvt Ltd</p>
          <p class="subtitle is-4 has-text-grey">
                Developed a Haskell based <strong>Data Analytics Software</strong> for customer insight.
                With better performance than previous python based software used.
                Final product <span class="underline-green">2x times</span> faster and <span class="underline-green">4x times</span> memory efficient.
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box box-shadow-lift">
        <img src="images/dataAnalysis.jpg">
      </div>
    </div>
  </div>
</div>
</section>

<section class=" section has-text-centered is-medium">
  <div class="container" id="skills">
    <div class="column">
      <h3 class="title is-2 has-text-centered">"Arsenal of skills"</h3>
      <p class="subtitle is-4 has-text-centered">Some things I like to brag about </p>
    </div>
    <br>
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="box box-shadow-lift box-flying">
          <div class="card-content ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/android.svg">
              </figure>
            </div>
              <h1 class="title is-size-4 is-spaced">Android</h1>
              <hr>
              <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
              <br>
              <div class="tags is-medium is-centered">
                <span class="tag is-success"> Java </span>
                <span class="tag is-success"> Kotlin </span>
                <span class="tag is-success"> Flutter </span>
                <span class="tag is-success"> Dart </span>
                <span class="tag is-success"> Android Jetpack </span>
                <span class="tag is-success"> XML </span>
                <span class="tag is-success"> Android Studio </span>
                <span class="tag is-success"> JUnit Testing </span>
                <span class="tag is-success"> Espresso Testing </span>
                <span class="tag is-success"> Networking </span>
                <span class="tag is-success"> Dagger-2 </span>
                <span class="tag is-success"> Firebase </span>
                <span class="tag is-success"> Security </span>
              </div>
           </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box box-shadow-lift box-flying">
          <div class="card-content ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/frontend.svg">
              </figure>
            </div>
              <h1 class="title is-size-4 is-spaced">Fullstack Developer</h1>
              <hr>
              <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
              <br>
              <div class="tags is-medium is-centered">
                <span class="tag is-success"> Java </span>
                <span class="tag is-success"> Kotlin </span>
                <span class="tag is-success"> Flutter </span>
                <span class="tag is-success"> Dart </span>
                <span class="tag is-success"> Android Jetpack </span>
                <span class="tag is-success"> XML </span>
                <span class="tag is-success"> Android Studio </span>
                <span class="tag is-success"> JUnit Testing </span>
                <span class="tag is-success"> Espresso Testing </span>
                <span class="tag is-success"> Networking </span>
                <span class="tag is-success"> Dagger-2 </span>
              </div>
           </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box box-shadow-lift box-flying">
          <div class="card-content ">
            <div class="is-flex is-horizontal-center">
              <figure class="image is-64x64">
                <img class="is-skill-icon" src="images/machine.svg">
              </figure>
            </div>
              <h1 class="title is-size-4 is-spaced">Machine Learning</h1>
              <hr>
              <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
              <br>
              <div class="tags is-medium is-centered">
                <span class="tag is-success"> Java </span>
                <span class="tag is-success"> Kotlin </span>
                <span class="tag is-success"> Flutter </span>
                <span class="tag is-success"> Dart </span>
                <span class="tag is-success"> Android Jetpack </span>
                <span class="tag is-success"> XML </span>
                <span class="tag is-success"> Android Studio </span>
                <span class="tag is-success"> JUnit Testing </span>
                <span class="tag is-success"> Espresso Testing </span>
                <span class="tag is-success"> Networking </span>
                <span class="tag is-success"> Dagger-2 </span>
              </div>
           </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="section intro-section is-medium is-primary has-text-centered is-long-ish">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths ">
            <h1 class="title is-spaced intro-text is-size-3-desktop is-size-4-mobile">My Projects</h1>
            <h2 class="subtitle intro-text is-size-5-desktop">I'm a bit of a digital product junky. Over the years, I've used hundreds of web and mobile apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.</h2>
          </div>
        </div>
      </div>
    </section>

<section class="section projects has-text-centered">
      <div class="container is-narrow">
        <div class="startup-grid">
          <div class="columns is-multiline level">
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
              <div class="box zoom"><img class="logo" src="img/logos/kybercore.svg">
                <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span class="icon"><svg class="svg-inline--fa fa-tools fa-w-16" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="tools" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.6 389.5L378.2 265c-15.6-15.6-36.1-23.4-56.6-23.4-15.4 0-30.8 4.4-44.1 13.3L192 169.4V96L64 0 0 64l96 128h73.4l85.5 85.5c-20.6 31.1-17.2 73.3 10.2 100.7l124.5 124.5c6.2 6.2 14.4 9.4 22.6 9.4 8.2 0 16.4-3.1 22.6-9.4l67.9-67.9c12.4-12.6 12.4-32.8-.1-45.3zM160 158.1v1.9h-48L42.3 67 67 42.3l93 69.7v46.1zM412.1 480L287.7 355.5c-9.1-9.1-14.1-21.1-14.1-33.9 0-12.8 5-24.9 14.1-33.9 9.1-9.1 21.1-14.1 33.9-14.1 12.8 0 24.9 5 33.9 14.1L480 412.1 412.1 480zM64 432c0 8.8 7.2 16 16 16s16-7.2 16-16-7.2-16-16-16-16 7.2-16 16zM276.8 66.9C299.5 44.2 329.4 32 360.6 32c6.9 0 13.8.6 20.7 1.8L312 103.2l13.8 83 83.1 13.8 69.3-69.3c6.7 38.2-5.3 76.8-33.1 104.5-8.9 8.9-19.1 16-30 21.5l23.6 23.6c10.4-6.2 20.2-13.6 29-22.5 37.8-37.8 52.7-91.4 39.7-143.3-2.3-9.5-9.7-17-19.1-19.6-9.5-2.6-19.7 0-26.7 7l-63.9 63.9-44.2-7.4-7.4-44.2L410 50.3c6.9-6.9 9.6-17.1 7-26.5-2.6-9.5-10.2-16.8-19.7-19.2C345.6-8.3 292 6.5 254.1 44.3c-12.9 12.9-22.9 27.9-30.1 44v67.8l22.1 22.1c-9.6-40.4 1.6-82.2 30.7-111.3zM107 467.1c-16.6 16.6-45.6 16.6-62.2 0-17.1-17.1-17.1-45.1 0-62.2l146.1-146.1-22.6-22.6L22.2 382.3c-29.6 29.6-29.6 77.8 0 107.5C36.5 504.1 55.6 512 75.9 512c20.3 0 39.4-7.9 53.7-22.3L231.4 388c-6.7-9.2-11.8-19.3-15.5-29.8L107 467.1z"></path></svg><!-- <i class="fal fa-tools"></i> --></span><span>In development</span></a>
              </div>
            </div>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
              <div class="box zoom"><img class="logo" src="img/logos/houston.svg">
                <p>Simple feedback and engagement tools for teams that want to build and ship winning products.</p><a class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span class="icon"><svg class="svg-inline--fa fa-tools fa-w-16" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="tools" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.6 389.5L378.2 265c-15.6-15.6-36.1-23.4-56.6-23.4-15.4 0-30.8 4.4-44.1 13.3L192 169.4V96L64 0 0 64l96 128h73.4l85.5 85.5c-20.6 31.1-17.2 73.3 10.2 100.7l124.5 124.5c6.2 6.2 14.4 9.4 22.6 9.4 8.2 0 16.4-3.1 22.6-9.4l67.9-67.9c12.4-12.6 12.4-32.8-.1-45.3zM160 158.1v1.9h-48L42.3 67 67 42.3l93 69.7v46.1zM412.1 480L287.7 355.5c-9.1-9.1-14.1-21.1-14.1-33.9 0-12.8 5-24.9 14.1-33.9 9.1-9.1 21.1-14.1 33.9-14.1 12.8 0 24.9 5 33.9 14.1L480 412.1 412.1 480zM64 432c0 8.8 7.2 16 16 16s16-7.2 16-16-7.2-16-16-16-16 7.2-16 16zM276.8 66.9C299.5 44.2 329.4 32 360.6 32c6.9 0 13.8.6 20.7 1.8L312 103.2l13.8 83 83.1 13.8 69.3-69.3c6.7 38.2-5.3 76.8-33.1 104.5-8.9 8.9-19.1 16-30 21.5l23.6 23.6c10.4-6.2 20.2-13.6 29-22.5 37.8-37.8 52.7-91.4 39.7-143.3-2.3-9.5-9.7-17-19.1-19.6-9.5-2.6-19.7 0-26.7 7l-63.9 63.9-44.2-7.4-7.4-44.2L410 50.3c6.9-6.9 9.6-17.1 7-26.5-2.6-9.5-10.2-16.8-19.7-19.2C345.6-8.3 292 6.5 254.1 44.3c-12.9 12.9-22.9 27.9-30.1 44v67.8l22.1 22.1c-9.6-40.4 1.6-82.2 30.7-111.3zM107 467.1c-16.6 16.6-45.6 16.6-62.2 0-17.1-17.1-17.1-45.1 0-62.2l146.1-146.1-22.6-22.6L22.2 382.3c-29.6 29.6-29.6 77.8 0 107.5C36.5 504.1 55.6 512 75.9 512c20.3 0 39.4-7.9 53.7-22.3L231.4 388c-6.7-9.2-11.8-19.3-15.5-29.8L107 467.1z"></path></svg><!-- <i class="fal fa-tools"></i> --></span><span>In development</span></a>
              </div>
            </div>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
              <div class="box zoom"><img class="logo" src="img/logos/basin.svg">
                <p>A powerful, easy-to-configure form backend for designers and developers. No coding required.</p><a class="link has-text-primary" href="https://usebasin.com">www.usebasin.com</a>
              </div>
            </div>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
              <div class="box zoom"><img class="logo" src="img/logos/ylbuilders.svg">
                <p>Beautifully simple websites for independent distributors of Young Living Essential Oils.</p><a class="link has-text-primary" href="https://ylbuilders.com">www.ylbuilders.com</a>
              </div>
            </div>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">     
              <div class="box zoom"><img class="logo" src="img/logos/userforge.svg">
                <p>A collaborative tool for creating simple, effective user personas for design projects.</p><a class="link has-text-primary" href="https://userforge.com">www.userforge.com</a>
              </div>
            </div>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
              <div class="box zoom"><img class="logo" src="img/logos/dovetail.svg">
                <p>A space and member management solution for coworking communities both big and small.</p><a class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span class="icon"><svg class="svg-inline--fa fa-sunset fa-w-18" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="sunset" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M276.7 219.3c3.1 3.1 7.2 4.7 11.3 4.7s8.2-1.6 11.3-4.7l90.3-90.3c3.1-3.1 3.1-8.2 0-11.3l-11.3-11.3c-3.1-3.1-8.2-3.1-11.3 0l-63 63V8c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v161.4l-63-63c-3.1-3.1-8.2-3.1-11.3 0l-11.3 11.3c-3.1 3.1-3.1 8.2 0 11.3l90.3 90.3zM95.8 448h38.5l-44-66 86-17.2c6.3-1.3 11.3-6.2 12.6-12.6l17.2-86 73 48.7c5.4 3.6 12.4 3.6 17.8 0l73-48.7 17.2 86c1.2 6.3 6.2 11.3 12.6 12.6l86 17.2-44 66h38.5l45.5-68.1c3-4.4 3.5-10.1 1.5-15s-6.4-8.5-11.7-9.6l-99-19.8-19.8-99c-1-5.2-4.6-9.6-9.6-11.7-5-2.1-10.6-1.5-15 1.5l-84 56-84-56c-4.4-2.9-10.1-3.5-15-1.5s-8.5 6.4-9.6 11.7l-19.8 99-99 19.8c-5.2 1-9.6 4.6-11.7 9.6s-1.5 10.6 1.5 15L95.8 448zm192-96c-56.3 0-102.5 41.9-110.4 96h32c7.4-36.5 39.7-64 78.4-64s70.9 27.5 78.4 64h32c-7.8-54.1-54.1-96-110.4-96zM568 480H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h560c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8z"></path></svg><!-- <i class="fal fa-sunset"></i> --></span><span>Shutdown in 2017</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="callout">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title is-spaced">Interested in collaborating or investing?</h1>
              <h2 class="subtitle is-size-5-desktop">I’m always open to discussing product design work or partnership opportunities.</h2><a class="button is-primary is-outlined is-rounded is-medium" href="/startup-inquiry">Start a conversation</a>
            </div>
          </div>
        </div>
      </div>
    </section>

{{!-- <div class="container side-crawler-container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box side-crawler ">
        <img class="avatar avatar-195" src="/images/sunilkumar.png">
          <h1 class="title side-crawler-title"> Sunil Kumar</h1>
            <p>Data Science Practitioner • Freelancer • Open Source Contributor</p>
      </div>
    </div>
  </div>
</div> --}}