    .is-horizontal-center {
        justify-content: center;
    }
    
    .avatar {
        border-radius: 50%;
        z-index: 5;
    }
    
    .avatar-42 {
        height: 50px;
        width: 50px;
        border: 1px solid gray ;
    }
    
    .avatar-195 {
        height: 195px;
        width: 195px;
    }
    
    .brand {
        height: 128px;
        width: 128px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "eurostile", sans-serif;
        font-weight: 800;
    }
    
    .intro-section {
        background-color: rgb(139, 55, 240);
    }
    
    .intro-text {
        color: whitesmoke;
    }
    
    .side-crawler {
        border: 2px solid rebeccapurple;
        justify-content: center;
        box-shadow: rgb(139, 55, 240);
    }

    .bottom-crawler{
        border: 2px solid black;
        justify-content: center;
    }
    
    .side-crawler-container{
        position: fixed;
        float: left;
        z-index: 1;
        margin-top: 30px;
        left:-100px;
        top:20px;
        bottom: 20px;
        border-color: black;
    }

    .bottom-crawler-container{
        position: fixed;
        float: left,bottom;
        z-index: 1;
        bottom: 10px;
        left:10px
    }

    .side-button{
       margin-top: 10px;
       margin-bottom: 10px;
    }
    .skills{
        position: relative;
        top: -100px;
        right: 0;
    }
    
    li {
        list-style-type: none;
    }

    .image-container{
        justify-content: center;
    }

    .info-box{
        position: relative;
        right:0 ;
    }

    .is-skill-icon{
        position: absolute;
        left: 0;
        right: 0;
    }
    .underline-green{
        border-bottom:5px solid #00d1b2
    }

    .underline-slim-green{
        border-bottom: 2px solid green;
    }

    .box-shadow-lift{
        box-shadow:rgba(0,0,0,0.1) 0 7px 25px 0;
        background: white;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .zoom {
        transition: transform .2s; /* Animation */
      }
    .zoom:hover {
        transform: scale(1.09); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

    .box-shadow-lift:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: example;
        animation-duration: 0.25s;
        border-bottom: 8px  rgba(0,0,0,0.24);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      .card-content{
          justify-content: center;
      }

      table{
          border: none;
          border-color: white;
      }

      .projects{
          position: relative;
          top: -100px;
      }

      .partner-call{
          position: relative;
          bottom: -120px;
      }
      .partner-box{
          background-color: black;
          color: whitesmoke;
          padding: 50px;
      }

      .has-text-patreon{
          color:#f96854 !important
        }
      .button-special:hover{
          box-shadow:rgba(50,50,93,0.25) 0 30px 60px -12px;
          transform:translateY(-5px);-webkit-transition:all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          transition:all 800ms cubic-bezier(0.19, 1, 0.22, 1)
        }
      .button-special{border:none}

 /**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    left:100%;
    bottom:0;
    margin-left: 10px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    left: 100%;
    bottom:0;
    margin-left: 5px;
    margin-bottom:8px;
    width: 0;
    rotation:90;
    border-right: 5px solid #000;
    border-right: 5px solid hsla(0, 0%, 20%, 0.9);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }